# Q1. Generate a data set with numerical and categorical values. (For Example: Personal Details- name, age, qualification, city, salary, working  company). Use data frame, random methodsâ€¦
## a) For the salary, Find mean, median, mode. Find variance, standard deviation
## b) For the salary, check it skewed or symmetric
## c)Find correlation between age and salary.
## d)Count missing values per column.  Fill missing values using mean (numeric) and mode (categorical)

In [1]:
import pandas as pd
import numpy as np
np.random.seed(42)
n = 20
names = ["Arjun", "Meera", "Kabir", "Sanya", "Nikhil", "Riya", "Aditya", "Kavya",
"Manav", "Tanya"]
cities = ["Pune", "Kolkata", "Jaipur", "Ahmedabad", "Chandigarh"]
qualifications = ["BCA", "MCA", "B.Com", "M.Com", "PhD"]
companies = ["Accenture", "IBM", "Deloitte", "Microsoft", "Flipkart"]
data = {
"Name": np.random.choice(names, n),
"Age": np.random.randint(21, 40, n),
"Qualification": np.random.choice(qualifications, n),
"City": np.random.choice(cities, n),
"Salary": np.random.randint(25000, 120000, n),
"Company": np.random.choice(companies, n)
}
df = pd.DataFrame(data)
df

      Name  Age Qualification        City  Salary    Company
0   Aditya   21           MCA     Kolkata   73984  Accenture
1    Sanya   32           BCA   Ahmedabad   65774  Microsoft
2    Kavya   32           MCA     Kolkata   27568        IBM
3   Nikhil   37           PhD     Kolkata   87592  Accenture
4   Aditya   30           MCA   Ahmedabad   92563   Flipkart
5    Tanya   36         M.Com   Ahmedabad   27695   Deloitte
6    Kabir   35         M.Com        Pune   73190  Microsoft
7   Aditya   35         M.Com  Chandigarh   30258   Deloitte
8    Kavya   39         M.Com  Chandigarh  112538   Deloitte
9   Nikhil   32           PhD     Kolkata   64504  Accenture
10   Sanya   23         B.Com  Chandigarh   58159   Deloitte
11   Kavya   25           BCA     Kolkata   38986   Flipkart
12   Kavya   39         M.Com        Pune   86858   Deloitte
13   Kabir   27           MCA   Ahmedabad   37666  Accenture
14    Riya   29         M.Com   Ahmedabad   63660   Flipkart
15  Nikhil   27           MCA   Ahmedabad   28561        IBM
16   Meera   38           MCA  Chandigarh   51854   Deloitte
17   Kavya   24         M.Com        Pune   89505  Accenture
18    Riya   34           PhD  Chandigarh   77251        IBM
19   Meera   38           MCA  Chandigarh   47662        IBM

In [2]:
df.loc[np.random.choice(df.index, 3), "Salary"] = np.nan
df.loc[np.random.choice(df.index, 2), "Age"] = np.nan
df.loc[np.random.choice(df.index, 2), "City"] = np.nan
df

      Name   Age Qualification        City    Salary    Company
0   Aditya  21.0           MCA     Kolkata   73984.0  Accenture
1    Sanya  32.0           BCA   Ahmedabad   65774.0  Microsoft
2    Kavya  32.0           MCA     Kolkata   27568.0        IBM
3   Nikhil  37.0           PhD         NaN   87592.0  Accenture
4   Aditya  30.0           MCA         NaN   92563.0   Flipkart
5    Tanya  36.0         M.Com   Ahmedabad   27695.0   Deloitte
6    Kabir  35.0         M.Com        Pune       NaN  Microsoft
7   Aditya  35.0         M.Com  Chandigarh   30258.0   Deloitte
8    Kavya  39.0         M.Com  Chandigarh  112538.0   Deloitte
9   Nikhil  32.0           PhD     Kolkata   64504.0  Accenture
10   Sanya  23.0         B.Com  Chandigarh   58159.0   Deloitte
11   Kavya  25.0           BCA     Kolkata   38986.0   Flipkart
12   Kavya  39.0         M.Com        Pune       NaN   Deloitte
13   Kabir  27.0           MCA   Ahmedabad   37666.0  Accenture
14    Riya  29.0         M.Com   Ahmedabad   63660.0   Flipkart
15  Nikhil  27.0           MCA   Ahmedabad   28561.0        IBM
16   Meera   NaN           MCA  Chandigarh   51854.0   Deloitte
17   Kavya  24.0         M.Com        Pune   89505.0  Accenture
18    Riya  34.0           PhD  Chandigarh       NaN        IBM
19   Meera   NaN           MCA  Chandigarh   47662.0        IBM

In [3]:
salary_mean = df["Salary"].mean()
salary_median = df["Salary"].median()
salary_mode = df["Salary"].mode()[0]
salary_variance = df["Salary"].var()
salary_std = df["Salary"].std()
print("Mean Salary:", salary_mean)
print("Median Salary:", salary_median)
print("Mode Salary:", salary_mode)
print("Variance of Salary:", salary_variance)
print("Standard Deviation of Salary:", salary_std)

Mean Salary: 58737.0
Median Salary: 58159.0
Mode Salary: 27568.0
Variance of Salary: 676170156.5
Standard Deviation of Salary: 26003.272034495967

In [4]:
salary_skewness = df["Salary"].skew()
print("Skewness of Salary:", salary_skewness)
if salary_skewness > 0:
  print("Right Skewed")
elif salary_skewness < 0:
  print("Left Skewed")
else:
  print("Symentric")

Skewness of Salary: 0.4925982797743886
Right Skewed

In [5]:
correlation = df[["Age", "Salary"]].corr()
print("Correlation Matrix:")
print(correlation)

Correlation Matrix:
             Age    Salary
Age     1.000000  0.120202
Salary  0.120202  1.000000

In [7]:
missing_values = df.isnull().sum()
print(missing_values)

Name             0
Age              2
Qualification    0
City             2
Salary           3
Company          0
dtype: int64

In [8]:
df["Age"].fillna(df["Age"].mean(), inplace=True)
df["Salary"].fillna(df["Salary"].mean(), inplace=True)
df

/tmp/ipython-input-1099938364.py:1: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df["Age"].fillna(df["Age"].mean(), inplace=True)
/tmp/ipython-input-1099938364.py:2: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df["Salary"].fillna(df["Salary"].mean(), inplace=True)

      Name        Age Qualification        City    Salary    Company
0   Aditya  21.000000           MCA     Kolkata   73984.0  Accenture
1    Sanya  32.000000           BCA   Ahmedabad   65774.0  Microsoft
2    Kavya  32.000000           MCA     Kolkata   27568.0        IBM
3   Nikhil  37.000000           PhD         NaN   87592.0  Accenture
4   Aditya  30.000000           MCA         NaN   92563.0   Flipkart
5    Tanya  36.000000         M.Com   Ahmedabad   27695.0   Deloitte
6    Kabir  35.000000         M.Com        Pune   58737.0  Microsoft
7   Aditya  35.000000         M.Com  Chandigarh   30258.0   Deloitte
8    Kavya  39.000000         M.Com  Chandigarh  112538.0   Deloitte
9   Nikhil  32.000000           PhD     Kolkata   64504.0  Accenture
10   Sanya  23.000000         B.Com  Chandigarh   58159.0   Deloitte
11   Kavya  25.000000           BCA     Kolkata   38986.0   Flipkart
12   Kavya  39.000000         M.Com        Pune   58737.0   Deloitte
13   Kabir  27.000000           MCA   Ahmedabad   37666.0  Accenture
14    Riya  29.000000         M.Com   Ahmedabad   63660.0   Flipkart
15  Nikhil  27.000000           MCA   Ahmedabad   28561.0        IBM
16   Meera  30.944444           MCA  Chandigarh   51854.0   Deloitte
17   Kavya  24.000000         M.Com        Pune   89505.0  Accenture
18    Riya  34.000000           PhD  Chandigarh   58737.0        IBM
19   Meera  30.944444           MCA  Chandigarh   47662.0        IBM

In [9]:
df["City"].fillna(df["City"].mode()[0], inplace=True)
df

/tmp/ipython-input-4020894660.py:1: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df["City"].fillna(df["City"].mode()[0], inplace=True)

      Name        Age Qualification        City    Salary    Company
0   Aditya  21.000000           MCA     Kolkata   73984.0  Accenture
1    Sanya  32.000000           BCA   Ahmedabad   65774.0  Microsoft
2    Kavya  32.000000           MCA     Kolkata   27568.0        IBM
3   Nikhil  37.000000           PhD  Chandigarh   87592.0  Accenture
4   Aditya  30.000000           MCA  Chandigarh   92563.0   Flipkart
5    Tanya  36.000000         M.Com   Ahmedabad   27695.0   Deloitte
6    Kabir  35.000000         M.Com        Pune   58737.0  Microsoft
7   Aditya  35.000000         M.Com  Chandigarh   30258.0   Deloitte
8    Kavya  39.000000         M.Com  Chandigarh  112538.0   Deloitte
9   Nikhil  32.000000           PhD     Kolkata   64504.0  Accenture
10   Sanya  23.000000         B.Com  Chandigarh   58159.0   Deloitte
11   Kavya  25.000000           BCA     Kolkata   38986.0   Flipkart
12   Kavya  39.000000         M.Com        Pune   58737.0   Deloitte
13   Kabir  27.000000           MCA   Ahmedabad   37666.0  Accenture
14    Riya  29.000000         M.Com   Ahmedabad   63660.0   Flipkart
15  Nikhil  27.000000           MCA   Ahmedabad   28561.0        IBM
16   Meera  30.944444           MCA  Chandigarh   51854.0   Deloitte
17   Kavya  24.000000         M.Com        Pune   89505.0  Accenture
18    Riya  34.000000           PhD  Chandigarh   58737.0        IBM
19   Meera  30.944444           MCA  Chandigarh   47662.0        IBM

In [12]:
df.describe()

             Age         Salary
count  20.000000      20.000000
mean   30.944444   58737.000000
std     5.226171   23862.238947
min    21.000000   27568.000000
25%    27.000000   38656.000000
50%    31.472222   58737.000000
75%    35.000000   67826.500000
max    39.000000  112538.000000

# Q2. Create a dataframe â€˜daâ€™ for a dataset. Transform â€˜daâ€™ into another dataframe â€˜da1â€™ by replacing the entries of â€˜daâ€™ as follows.

## â€“ If the entries in the column are numerical, first 25% of the entries in each column are replaced by the mean of the values in that column, second 25% of the entries in each column are replaced by the ((maximum value of that column), third 25% of the entries in each column are replaced by the (minimum value of that column) and the last, 25% of the entries in each column are replaced by the ((mean value of that column)/2)
## â€“ If the entries in the column are non-numerical, last 50% of the entries in each are replaced by the entry that occurs least in that column, first  50% of the entries in each are replaced by the entry that has highest frequency in that column.
## â€“ If the entries in a column has both numerical or non-numerical entries, replace all the non-numerical entries with zeros

In [13]:
import pandas as pd
import numpy as np
np.random.seed(1)
da = pd.DataFrame({
"Age": np.random.randint(20, 40, 20),
"Salary": np.random.randint(30000, 90000, 20),
"City": np.random.choice(["Delhi", "Mumbai", "Pune"], 20),
"Department": np.random.choice(["HR", "IT", "Sales"], 20),
"Mixed_Column": np.random.choice([10, 20, "A", "B"], 20)
})
da

    Age  Salary    City Department Mixed_Column
0    25   67532  Mumbai         HR           10
1    31   87245   Delhi         HR           10
2    32   52926   Delhi         IT            A
3    28   79714  Mumbai         IT            A
4    29   57204   Delhi      Sales            B
5    31   61959   Delhi         HR            B
6    25   54535  Mumbai         HR            B
7    35   49433    Pune         IT            B
8    20   47137  Mumbai      Sales           20
9    36   56103   Delhi      Sales            B
10   21   74510    Pune         IT            B
11   32   81040    Pune         HR           10
12   27   63878  Mumbai      Sales            A
13   33   69053  Mumbai         IT            A
14   26   85273  Mumbai      Sales            A
15   38   63799   Delhi         IT           10
16   25   67183   Delhi         HR           10
17   38   82029  Mumbai         IT            B
18   31   33606   Delhi         IT            B
19   30   72297    Pune      Sales           20

In [15]:
da1 = da.copy()
n = len(da)
q1 = int(0.25 * n)
q2 = int(0.50 * n)
q3 = int(0.75 * n)
for col in da.columns:
  if pd.api.types.is_numeric_dtype(da[col]):
    da1[col] = da1[col].astype(float)
    mean_val = da[col].mean()
    max_val = da[col].max()
    min_val = da[col].min()
    da1.iloc[:q1, da.columns.get_loc(col)] = mean_val
    da1.iloc[q1:q2, da.columns.get_loc(col)] = max_val
    da1.iloc[q2:q3, da.columns.get_loc(col)] = min_val
    da1.iloc[q3:, da.columns.get_loc(col)] = mean_val / 2
  elif da[col].apply(lambda x: isinstance(x, str)).all():
    most_frequent = da[col].mode()[0]
    least_frequent = da[col].value_counts().idxmin()
    da1.iloc[:q2, da.columns.get_loc(col)] = most_frequent
    da1.iloc[q2:, da.columns.get_loc(col)] = least_frequent
  else:
    da1[col] = da[col].apply(lambda x: x if isinstance(x, (int, float)) else 0)
print("Original DataFrame (da):\n")
print(da)
print("\nTransformed DataFrame (da1):\n")
print(da1)

Original DataFrame (da):

    Age  Salary    City Department Mixed_Column
0    25   67532  Mumbai         HR           10
1    31   87245   Delhi         HR           10
2    32   52926   Delhi         IT            A
3    28   79714  Mumbai         IT            A
4    29   57204   Delhi      Sales            B
5    31   61959   Delhi         HR            B
6    25   54535  Mumbai         HR            B
7    35   49433    Pune         IT            B
8    20   47137  Mumbai      Sales           20
9    36   56103   Delhi      Sales            B
10   21   74510    Pune         IT            B
11   32   81040    Pune         HR           10
12   27   63878  Mumbai      Sales            A
13   33   69053  Mumbai         IT            A
14   26   85273  Mumbai      Sales            A
15   38   63799   Delhi         IT           10
16   25   67183   Delhi         HR           10
17   38   82029  Mumbai         IT            B
18   31   33606   Delhi         IT            B
19   30   72297    Pune      Sales           20

Transformed DataFrame (da1):

       Age   Salary   City Department Mixed_Column
0   29.650  65322.8  Delhi         IT            B
1   29.650  65322.8  Delhi         IT            B
2   29.650  65322.8  Delhi         IT            B
3   29.650  65322.8  Delhi         IT            B
4   29.650  65322.8  Delhi         IT            B
5   38.000  87245.0  Delhi         IT            B
6   38.000  87245.0  Delhi         IT            B
7   38.000  87245.0  Delhi         IT            B
8   38.000  87245.0  Delhi         IT            B
9   38.000  87245.0  Delhi         IT            B
10  20.000  33606.0   Pune         HR           20
11  20.000  33606.0   Pune         HR           20
12  20.000  33606.0   Pune         HR           20
13  20.000  33606.0   Pune         HR           20
14  20.000  33606.0   Pune         HR           20
15  14.825  32661.4   Pune         HR           20
16  14.825  32661.4   Pune         HR           20
17  14.825  32661.4   Pune         HR           20
18  14.825  32661.4   Pune         HR           20
19  14.825  32661.4   Pune         HR           20

In [19]:
print(da1.dtypes)

Age             float64
Salary          float64
City             object
Department       object
Mixed_Column     object
dtype: object